/* Style for the body */
body {
    background-size: cover;
    background-position: center;
}

/* Style for the title */
.title {
    background-color: yellow;
    left: 0;
    margin: 0;
}

/* Style for the Help button */
.help {
    color: rgb(0, 195, 255);
    font-size: 30px;
    right: 0;
    width: 100px;
    position: fixed;
}

/* Style for the canvas */
canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
}

/* Style for the video (you can adjust this as needed) */
video {
    display: none;
    border: 2px solid rgb(52, 236, 15);
}
